name: Matrix Demo
on:
  push:
    branches:
      - master
jobs:
    build:
        continue-on-error: true
        strategy:
          matrix:
            node-version: [14, 16]
            operating-system: [ubuntu-latest, windows-latest]
            include:
              - node-version: 18
                operating-system: ubuntu-latest
            exclude:
              - node-version: 14
                operating-system: windows-latest
        runs-on: ${{ matrix.operating-system }} # This will dynamically set the operating system based on the matrix
        steps:
          - name: Checkout code
            uses: actions/checkout@v3
          - name: install node js
            uses: actions/setup-node@v3
            with:
              node-version: ${{ matrix.node-version }}
          - name: Install dependencies
            run: |
                npm ci
          - name: Build project
            run: |
                npm run build