name: Resuable workflow for GitHub Actions
on: workflow_call
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Output Information
              run: |
                echo "Deploying to production..."
                